<!DOCTYPE html>
<html>
<head>
    <title>Rooms</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="navbar">

    <h2>Hotel Paradise</h2>

    <div>
        <a href="/home">Home</a>
        <a href="/rooms">Book Room</a>
        <a href="/mybookings">My Booking</a>
        <a href="/logout">Logout</a>
    </div>

</div>


<div class="section">

    <h2>Available Rooms</h2>

    <div class="rooms">

        {% for room in rooms %}

        <div class="room">

            <img src="/static/images/{{ room.image }}">

            <h3>{{ room.name }}</h3>

            <p>Price: ₹{{ room.price }}</p>

            <a href="/book/{{ room.id }}">Book Now</a>

        </div>

        {% endfor %}

    </div>

</div>

</body>
</html>
